orjson==3.10.16
shellingham==1.5.4
Cython==3.0.12
lxml==4.9.4
arrow==1.3.0
pytest==8.3.5
threadpoolctl==3.6.0
uri-template==1.3.0
rfc3339-validator==0.1.4
pexpect==4.9.0
Pygments==2.19.1
pandas==2.2.3
tomli==2.2.1
msgspec==0.19.0
python-socketio==5.12.1
protobuf==5.29.4
fqdn==1.5.1
llvmlite==0.44.0
async-timeout==5.0.1
mmh3==5.1.0
idna==3.10
semver==3.0.4
babel==2.17.0
traitlets==5.14.3
plotly-express==0.4.1
nest-asyncio==1.6.0
dol==0.3.14
narwhals==1.32.0
distlib==0.3.9
kiwisolver==1.4.8
ipython==8.34.0
ptyprocess==0.7.0
shortuuid==1.0.13
prometheus_client==0.21.1
isoduration==20.11.0
nltk==3.9.1
pytz==2025.2
wadler_lindig==0.1.4
transformer-lens==2.11.0
simple-websocket==1.1.0
toml==0.10.2
sae-vis==0.3.6
streamlit-on-Hover-tabs==1.0.1
overrides==7.7.0
parso==0.8.4
webencodings==0.5.1
tinycss2==1.4.0
fasteners==0.19
zipp==3.21.0
umap-learn==0.5.7
pydeck==0.9.1
absl-py==2.2.1
gprof2dot==2024.6.6
ftfy==6.3.1
anyio==4.9.0
defusedxml==0.7.1
requests==2.32.3
frozenlist==1.5.0
sentence-transformers==4.0.1
lz4==4.4.3
attrs==25.3.0
sae-lens==4.4.5
textual==3.0.0
circuitsvis==0.0.0
async-lru==2.0.5
openai==1.69.0
blinker==1.9.0
soupsieve==2.6
torchaudio==2.6.0
markdown-it-py==3.0.0
glfw==2.8.0
httpx==0.27.2
safetensors==0.4.5
mypy-extensions==1.0.0
Farama-Notifications==0.0.4
h11==0.14.0
GitPython==3.1.44
plotly==5.24.1
huggingface-hub==0.29.3
networkx==3.4.2
pyparsing==3.2.3
gdown==5.2.0
jupyter-console==6.6.3
jedi==0.19.2
joblib==1.4.2
typing-inspect==0.9.0
proglog==0.1.10
sentry-sdk==2.24.1
jupyterlab==4.3.6
rpds-py==0.24.0
jupyter==1.1.1
PySocks==1.7.1
portalocker==3.1.1
patsy==1.0.1
tiktoken==0.9.0
s3fs==2024.6.1
jupyter_client==8.6.3
neel-plotly==0.0.0
beautifulsoup4==4.13.3
rich==13.9.4
pynndescent==0.5.13
graze==0.1.29
asttokens==3.0.0
gymnasium==0.29.0
tqdm==4.67.1
urllib3==2.3.0
fsspec==2024.6.1
scikit-learn==1.6.1
pip==23.0.1
pandocfilters==1.5.1
PyOpenGL==3.1.9
numpy-stl==3.2.0
fastjsonschema==2.21.1
botocore==1.37.1
exceptiongroup==1.2.2
jsonpatch==1.33
click==8.1.8
typing-inspection==0.4.0
jsonpointer==3.0.0
tzdata==2025.2
appnope==0.1.4
numpy==1.26.4
pre_commit==4.2.0
multidict==6.2.0
docstring_parser==0.16
jupyter_server==2.15.0
better-abc==0.0.3
widgetsnbextension==3.6.10
wikipedia==1.4.0
decorator==5.2.1
mdit-py-plugins==0.4.2
tokenizers==0.21.1
anthropic==0.49.0
pycryptodomex==3.22.0
uc-micro-py==1.0.3
tenacity==9.0.0
cffi==1.17.1
jsonschema==4.23.0
executing==2.2.0
nbformat==5.10.4
setuptools==65.5.0
stack-data==0.6.3
argon2-cffi==23.1.0
python-engineio==4.11.2
debugpy==1.8.13
python-dotenv==1.1.0
typer==0.12.5
dataclasses-json==0.6.7
ale-py==0.8.1
multiprocess==0.70.16
fancy-einsum==0.0.3
jsonlines==4.0.0
streamlit-antd-components==0.2.5
pydantic_core==2.33.0
streamlit==1.44.0
jupyter_core==5.7.2
virtualenv==20.29.3
xxhash==3.5.0
hdbscan==0.8.40
nbconvert==7.16.6
referencing==0.36.2
jmespath==1.0.1
regex==2024.11.6
Shimmy==0.2.1
bidict==0.23.1
identify==2.6.9
Send2Trash==1.8.3
simple-parsing==0.1.7
boostedblob==0.15.6
jupyter-lsp==2.2.5
nbclient==0.10.2
gitdb==4.0.12
jupyterlab-widgets==1.1.1
sniffio==1.3.1
nodeenv==1.9.1
psutil==7.0.0
torchinfo==1.8.0
jsonschema-specifications==2024.10.1
diffusers==0.32.2
jaxtyping==0.2.38
mdurl==0.1.2
fonttools==4.56.0
aiohttp==3.11.14
cfgv==3.4.0
python-dateutil==2.9.0.post0
mpmath==1.3.0
ipython-genutils==0.2.0
jupyterlab_pygments==0.3.0
mistune==3.1.3
yarl==1.18.3
charset-normalizer==3.4.1
wcwidth==0.2.13
packaging==24.2
torch==2.6.0
wandb==0.19.8
pyzmq==26.0.0
importlib-metadata==5.2.0
torchtext==0.18.0
jupyter-events==0.12.0
scipy==1.15.2
eindex-callum==0.1.2
json5==0.10.0
certifi==2025.1.31
setproctitle==1.3.5
platformdirs==4.3.7
jupyterlab_server==2.27.3
pydantic==2.11.0
zstandard==0.22.0
aioitertools==0.12.0
imageio-ffmpeg==0.6.0
webcolors==24.11.1
aiobotocore==2.21.1
httpcore==1.0.7
pycparser==2.22
cycler==0.12.1
Jinja2==3.1.6
opencv-python==4.11.0.86
filelock==3.18.0
pluggy==1.5.0
torchvision==0.21.0
pyarrow==19.0.1
mujoco-py==2.1.2.14
config2py==0.1.37
dill==0.3.8
comm==0.2.2
pygame==2.6.1
inspect_ai==0.3.79
mujoco==3.3.0
accelerate==1.5.2
statsmodels==0.14.4
mediapy==1.2.2
imageio==2.37.0
linkify-it-py==2.0.3
pure_eval==0.2.3
tornado==6.4.2
distro==1.9.0
cloudpickle==3.1.1
ipywidgets==7.7.1
jiter==0.8.2
beartype==0.14.1
moviepy==2.1.2
instructor==1.7.7
pillow==10.4.0
docker-pycreds==0.4.0
rfc3986-validator==0.1.1
aiohappyeyeballs==2.6.1
python-json-logger==3.3.0
terminado==0.18.1
ijson==3.3.0
contourpy==1.3.1
einops==0.7.0
wrapt==1.17.2
propcache==0.3.1
py2store==0.1.20
sympy==1.13.1
argon2-cffi-bindings==21.2.0
numba==0.61.0
aiosignal==1.3.2
PyYAML==6.0.2
matplotlib-inline==0.1.7
smmap==5.0.2
sentencepiece==0.2.0
matplotlib==3.10.1
i2==0.1.46
notebook==7.3.3
blobfile==2.1.1
pytest-profiling==1.8.1
babe==0.0.7
jupyter_server_terminals==0.5.3
streamlit-image-select==0.6.0
typing_extensions==4.13.0
types-python-dateutil==2.9.0.20241206
bleach==6.2.0
prompt_toolkit==3.0.50
altair==5.5.0
typeguard==4.4.2
nnsight==0.4.5
iniconfig==2.1.0
uvloop==0.21.0
ipykernel==6.29.5
marshmallow==3.26.1
frozendict==2.4.6
annotated-types==0.7.0
wsproto==1.2.0
AutoROM==0.4.2
python-utils==3.9.1
transformers==4.50.2
cachetools==5.5.2
six==1.17.0
datasets==2.21.0
etils==1.12.2
importlib_resources==6.5.2
AutoROM.accept-rom-license==0.6.1
automated-interpretability==0.0.8
tabulate==0.9.0
notebook_shim==0.2.4
websocket-client==1.8.0
MarkupSafe==3.0.2
